<div fxLayoutAlign="center center" fxFlexFill class="fundo">
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form [formGroup]="form" novalidate>
                <h1>Criar Conta PJ</h1>
                <span>Preencha o formulario para criar o seu cadastro-PJ.</span>
                <input type="text" formControlName="nome" required  placeholder="Nome">
                <input type="email" formControlName="email" required  placeholder="Email">
                <input type="password" formControlName="senha" required  placeholder="Senha">
                <input type="text" formControlName="cpf"  mask="000.000.000-00" required placeholder="CPF">
                <input type="text" formControlName="razaoSocial" required placeholder="Razão Social">
                <input type="text" formControlName="cnpj" mask="00.000.000/0000-00" required placeholder="CNPJ">
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="cadastrarPj()">Cadastrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Bem vindo, ao sistema de registro de ponto!</h1>
                    <p>Realize o seu cadastro.</p>
                    <button routerLink="/cadastro-pf" class="hidden">cadastro-pf</button>
                    <button routerLink="/login" class="hidden">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>