<div fxLayoutAlign="center center" fxFlexFill class="fundo">
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form>
                <h1>Criar Conta PJ</h1>
                <span>Preencha o formulario para criar o seu cadastro-PJ.</span>
                <input required type="text" placeholder="Name">
                <input required="email" placeholder="Email">
                <input required ="password" placeholder="Password">
                <button mat-raised-button color="primary">Cadastrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Bem vindo, ao sistema de registro de ponto!</h1>
                    <p>Realize o seu cadastro.</p>
                    <button routerLink="/cadastro-pf" class="hidden">cadastro-pf</button>
                    <button routerLink="/login" class="hidden">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>