/* Estilo para a barra lateral */
.navbarColor {
    background-color: #4e73df; /* Cor de fundo da barra lateral */
    color: #fff; /* Cor do texto da barra lateral */
    width: 250px; /* Largura da barra lateral */
    min-height: 100%; /* Altura mínima de 100% */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombreamento sutil */
}

/* Estilo para o logotipo na barra lateral */
.sidebar-brand {
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: #4e73df; /* Cor de fundo do logotipo */
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombreamento sutil */
}

.sidebar-brand .sidebar-brand-icon {
    font-size: 2rem; /* Tamanho do ícone */
    color: #fff; /* Cor do ícone */
}

/* Estilo para os itens da barra lateral */
.nav-item {
    padding: 10px 20px;
    transition: color 0.1s; /* Transição para a cor do texto */
    color: rgba(255, 255, 255, 0.4);
}

.nav-item:hover {
    color: #fff; /* Texto com opacidade total ao passar o mouse sobre os itens */
}

/* Estilo para o ícone do item */
.nav-item i {
    margin-right: 10px;
}

/* Estilo para o divisor */
.sidebar-divider {
    margin: 15px;
    border-top: 1px solid #fffbfb; /* Estilo da linha do divisor */
    color: #ffffff; /* Cor do texto do divisor */
}

/* Estilo para o cabeçalho 'Interfaces' */
.sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
    padding: 0 1rem;
    margin: 10px;
    font-weight: 800;
    font-size: 0.75rem;
    text-transform: uppercase!important;
}

/* Estilo para a linha horizontal personalizada */
.hr-divider.sidebar-divider {
    background-color: rgba(255, 255, 255, 0.5); /* Fundo branco com opacidade fraca */
    height: 1px; /* Altura da linha */
    margin: 10px 0;
}

/* Estilo para a linha divisória no final da barra lateral */
.sidebar-divider.d-none.d-md-block {
    border-top: 1px solid #3d67a7; /* Estilo da linha divisória */
}
@media (min-width: 768px){
.sidebar .sidebar-brand .sidebar-brand-text {
    display: inline;
}
}

.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
sup {
    font-size: 0.8em; /* Tamanho da fonte reduzido */
    vertical-align: super; /* Alinhamento superior */
    font-weight: bold; /* Negrito */
    color: fff; /* Cor do texto */

  }

