<div class="container">
  
  <section>
    <div class="button-container" style="margin-right: 5px;">
      <button mat-mini-fab color="primary" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="mainMenuButton">
        <mat-icon>edit</mat-icon>
      </button>
  
      <mat-menu #mainMenuButton="matMenu">
        <span (click)="$event.stopPropagation()" >
          <mat-slide-toggle>
          </mat-slide-toggle>
          <br>
        </span>
      </mat-menu>
    </div>
  
    <div class="button-container" style="margin-right: 20px;">
      <button mat-mini-fab color="primary" (click)="exportPdf()">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  
    <ng-container>
      <mat-form-field appearance="outline" class="mr-1">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Exemplo: INICIO_TRABALHO" #input>
      </mat-form-field>
    </ng-container>
  </section>

    
    <div class="d-flex flex-row-reverse">
      <button mat-button color="primary" class="button-redirect" routerLink="/funcionario">Adicionar lançamento</button>
    </div>
  <div class="mat-elevation-z8 data-table">
    <mat-table [dataSource]="dataSource" matSort>

      <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

      <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Data
        </mat-header-cell>
        <mat-cell *matCellDef="let lancamento">
          {{ lancamento.data}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Tipo
        </mat-header-cell>
        <mat-cell *matCellDef="let lancamento">
          {{ lancamento.tipo }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="localizacao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Localização
        </mat-header-cell>
        <mat-cell *matCellDef="let lancamento">
          {{ lancamento.localizacao }}
        </mat-cell>
      </ng-container>

    </mat-table>
    <mat-paginator #paginattor [pageSize]="10" [pageSizeOptions]="[5,10,15]">

    </mat-paginator>
  </div>
</div>