<mat-card>
  <mat-card-content>
    <section>
      <ng-container>
        <mat-form-field appearance="outline" class="mr-1">
          <mat-label>Buscar</mat-label>
          <input matInput placeholder="Exemplo: INICIO_TRABALHO" #input>
        </mat-form-field>
      </ng-container>

      <div class="button-container" style="margin-left: 5px;">
        <button mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </div>  
    </section>


  </mat-card-content>
</mat-card>

